.SwitchContainer {
    margin: 15px;
    margin-top: 0px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.Switch {
    position: relative;
    display: inline-block;
    width: 4rem;
    height: 2rem;
    margin: 0.25rem;
}

.Switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.Slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: transparent;
    border: 1px solid red;
    box-shadow:
        0 0 1px red,
        0 0 3px red,
        0 0 5px red;
    -webkit-transition: .4s;
    transition: .4s;
}

.Slider:before {
    position: absolute;
    content: "";
    height: 1.4rem;
    width: 1.4rem;
    left: 4px;
    bottom: 4px;
    background-color: red;
    -webkit-transition: .4s;
    transition: .4s;
}

input:focus+.Slider {
    border: 1px solid red;
    box-shadow:
        0 0 1px red,
        0 0 3px red,
        0 0 5px red;
}

input:checked+.Slider:before {
    -webkit-transform: translateX(2rem);
    -ms-transform: translateX(2rem);
    transform: translateX(2rem);
}