/* Font Declarations */

@font-face {
    font-family: 'Russo One';
    src: url("assets/fonts/RussoOne-Regular.ttf") format("truetype");
}

@font-face {
    font-family: 'Saira Condensed';
    src: url("assets/fonts/SairaCondensed-Regular.ttf") format("truetype");
}


/* General Contents */

body {
    background-color: rgb(20, 20, 20);
    color: white;
    margin: 20px;
    font-family: 'Saira Condensed';
}

p {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

hr {
    border-color: red;
    box-shadow:
        0 0 1px red,
        0 0 3px red,
        0 0 5px red;
    margin-top: 1.5em;
    margin-bottom: 1.5em;
}

.EmulatorContainer {
    text-align: center;
}


/* Headings */

h1 {
    color: red;
    display: inline;
    font-family: 'Russo One';
    font-size: 32pt;
    margin: 5px;
    text-shadow:
        0 0 3px rgba(200, 0, 0, 0.3),
        0 0 5px rgba(200, 0, 0, 0.25),
        0 0 10px rgba(200, 0, 0, 0.2),
        0 0 20px #a00,
        0 0 40px #a00,
        0 0 60px #a00,
        0 0 80px #a00,
        0 0 100px #a00;
    user-select: none;
}

h2 {
    color: red;
    display: inline;
    font-family: 'Russo One';
    text-shadow:
        0 0 3px rgba(200, 0, 0, 0.3),
        0 0 5px rgba(200, 0, 0, 0.25),
        0 0 10px rgba(200, 0, 0, 0.2),
        0 0 42px #a00,
        0 0 82px #a00;
    user-select: none;
}

h3 {
    color: red;
    display: inline;
    font-family: 'Russo One';
    text-shadow:
        0 0 3px rgba(200, 0, 0, 0.3),
        0 0 5px rgba(200, 0, 0, 0.25),
        0 0 10px rgba(200, 0, 0, 0.2),
        0 0 20px rgba(200, 0, 0, 0.5),
        0 0 40px rgba(200, 0, 0, 0.5);
    user-select: none;
}


/* Scrollbar */

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: rgba(255, 0, 0, 0.25);
}

::-webkit-scrollbar-thumb {
    background: rgba(255, 0, 0, 0.6);
}

::-webkit-scrollbar-thumb:hover {
    background: #f00;
}